<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="React App" />
    <meta name="keywords" content="React App" />
    <meta name="author" content="React App" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="/images/logo.png?t=<%= Date.now() %>" />
    <title>React App</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.__REACT_LOCALES__ = JSON.parse(`<%- JSON.stringify(locales) %>`);
      window.__REACT_LOCALE_RESOURCES__ = JSON.parse(`<%- JSON.stringify(resources) %>`);
    </script>
    <script src="/dist/main.bundle.js?t=<%= Date.now() %>"></script>
  </body>
</html>
