<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Error" />
    <meta name="keywords" content="Error" />
    <meta name="author" content="Error" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="/images/logo.png?t=<%= Date.now() %>" />
    <title>Error</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>
