<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Home" />
    <meta name="keywords" content="Home" />
    <meta name="author" content="Home" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="/images/logo.png?t=<%= Date.now() %>" />
    <title>Home</title>
  </head>
  <body>
    <h1>You are a bot</h1>
  </body>
</html>
